:root {
    --gray-background: var(#eaeaea)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

a {
    text-decoration: none;
}

.header__search_bar {
    float: right;
    padding: 6px;
    font-size: 17px;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    text-align: center;
}

body {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 5%;
}

.container {
    width: 500px;
    background-color: #eaeaea;
    border-radius: 16px;
    padding: 25px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.feedback-card {
    text-align: center;
}

.feedback-card > * {
    font-size: 24px;
    margin-bottom: 20px;
}

.feedback-card h1 {
    margin-top: 50px;
}

.feedback-card ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.feedback-card p {
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
    width: 100%;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.numbers {
    margin: 15px 0;
}

.numbers-title {
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
}

.random-marker {
    display: block;
    position: relative;
    font-size: 14px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.numbers input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid black;
}

/* On mouse-over, add a grey background color */
.random-marker:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .random-marker input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .random-marker input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .random-marker .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.number-buttons {
    display: flex;
    justify-content: space-between;
}

.number-buttons input[type="number"] {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submit-button {
    display: flex;
    justify-content:end;
}

.submit-button button {
    background-color: #737373;
    color: white;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px 40px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button button:hover {
    background-color: #444;
}

.result-title {
    font-size: 48px;
}

.result-container {
    width: fit-content;
    background-color: #eaeaea;
    border-radius: 16px;
    padding: 25px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.drawn-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawn-numbers ul {
    font-size: 36px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 30%;
}

.drawn-numbers li {
    background-color: rgb(184, 184, 184);
    border-radius: 10px;
    padding: 0 5px;
    border: 1px solid black;
}

.rounds-count {
    text-align: center;
}

.rounds-count p {
    font-size: 48px;
    text-decoration: underline;
}

.winning-bets {
    text-align: center;
    width: 100%;
}

.winning-bets ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0 20px;
}

.winning-bets__bet-card {
    background-color: rgb(184, 184, 184);
    padding: 15px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.winning-bets__bet-card ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}

.winning-bets__bet-card li {
    font-size: 27px;
    border-radius: 10px;
    padding: 0 5px;
    border: 1px solid black;
}

.bet-numbers {
    width: 70%;
}

.bet-numbers__title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.bet-numbers ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bet-numbers li {
    display: flex;
    text-wrap: nowrap;
    position: relative;
    width: 100%;
    text-align: center;
}

.bet-numbers li:not(:first-child)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 75%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: rgb(184, 184, 184);
}

.bet-numbers h2, .bet-numbers p {
    font-size: 24px;
    width: 100%;
}
