{{define "Index"}}

{{template "_head"}}

<body>
    <div class="container">
        <h1>Faça uma RoBet!</h1>
        <form action="" method="post">
            <div class="form-group">
                <input type="text" name="name" placeholder="Seu nome" required>
            </div>
            <div class="form-group">
                <input type="text" name="cpf" placeholder="CPF" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="tel" name="phone" placeholder="Telefone" required>
            </div>

            <div class="numbers">
                <label class="numbers-title">Escolha 5 números:</label>
                <label class="random-marker">Gerar aleatório
                    <input type="checkbox" id="random" onchange="toggleNumberButtons()">
                    <span class="checkmark"></span>
                </label>
                <div class="number-buttons">
                    <input type="number" name="number" min="1" max="50">
                    <input type="number" name="number" min="1" max="50">
                    <input type="number" name="number" min="1" max="50">
                    <input type="number" name="number" min="1" max="50">
                    <input type="number" name="number" min="1" max="50">
                </div>
            </div>

            <div class="submit-button">
                <button type="submit">&#10132;</button>
            </div>
        </form>
    </div>

    <script>
        function toggleNumberButtons() {
            // Obtém o estado da checkbox
            const isRandomChecked = document.getElementById("random").checked;

            // Obtém todos os botões de número
            const numberButtons = document.querySelectorAll(".number-buttons input[type='number']");

            // Ativa ou desativa os botões de número com base no estado da checkbox
            numberButtons.forEach(button => {
                button.disabled = isRandomChecked;
            });
        }
    </script>
</body>
</html>
{{end}}